@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  margin: 0;
  font-family: 'ProximaNova';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-white);
  background-color: var(--color-black);
}
.list {
  list-style: none;
  margin: 0;
}
ul {
  padding-inline-start: 0;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.link {
  text-decoration: none;
}
