.project {
  padding-top: 170px;
  padding-bottom: 78px;
  padding-right: 60px;
}
.project__box_title {
  padding-left: 347px;
  display: flex;
  justify-content: space-between;

  margin-bottom: 144px;
}
.project__title {
  text-transform: uppercase;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 2px;
}
.project__text {
  font-size: 24px;
  width: 632px;
}
.project__box_slider {
}
